<main class="bg-[#181D31] h-screen flex flex-col justify-center gap-10">

  <section class="flex flex-col items-center gap-1">
    <%= image_tag('chat.png', width: 100) %>
    <h1 class="font-bold text-4xl text-white my-4">Bienvenido - Chat App</h1>
    <p class="text-center font-semibold text-white">This is a simple Chatroom for Rails App.</p>
    <p class="text-center text-white">You will lear more about Hotwire, Turbo Streams, Turbo Frames and Stimulus JS.</p>
  </section>

  <section class="flex flex-col items-center">
    <h2 class="text-white font-bold text-2xl mb-5">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'flex flex-col') do |f| %>
      <div class="flex gap-1 my-2 items-center w-96">
        <%= f.label :email, class: 'text-white font-semibold text-sm w-24' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'text-xs font-medium rounded w-full' %>
      </div>

      <div class="flex gap-1 my-2 items-center w-96">
        <%= f.label :password , class: 'text-white font-semibold text-sm w-24'%>
        <%= f.password_field :password, autocomplete: "current-password", class:'text-xs font-medium rounded w-full' %>
      </div>

      <div class="flex gap-1 my-5 items-center justify-center">
        <%= f.submit "Log in", data: { turbo: false }, class: 'bg-green-800 rounded p-3 text-white font-semibold' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </section>
</main>
