<%= form_with(model: room, class: 'flex flex-col my-3 w-full') do |form| %>
  <% if room.errors.any? %>
    <div class="bg-red-300 rounded m-2 p-2">
      <h2 class="font-bold text-center text-red-800">An error ocurred while saving it.</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li class="font-semibold text-sm text-red-800"> - <%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col gap-1 justify-center">
    <%= form.label :name, class: 'text-white font-semibold text-sm' %>
    <%= form.text_field :name, class: 'w-full rounded border border-gray-200 font-semibolf text-xs' %>
  </div>

  <div class="mt-2 flex gap-2 justify-end">
    <%= form.submit class: 'p-2 text-sm text-white font-semibold bg-green-600 rounded' %>
    <%= link_to 'Cancel', :back, class: 'p-2 text-sm text-white text-center font-semibold bg-red-600 rounded' %>
  </div>
<% end %>
