<h3 class="font-bold text-3xl text-white shadow"><%= room.name %> - Room</h3>
<span class="text-white font-semibold">Users in this room: <%= room.users.count %></span>
<section class="flex gap-5">
  <div class="py-2 px-10 flex flex-col gap-1 items-center border-teal-600 border rounded-lg my-2 shadow-lg">
    <h3 class="text-white font-semibold text-center">Users in this room</h3>
    <% User.all.each do |user| %>
      <% next unless room.users.include?(user) %>
      <div class='rounded underline text-white my-1 font-semibold text-sm'>
        <%= user.email  %>
      </div>
    <% end %>
  </div>
  <div class="py-2 px-10 flex flex-col gap-1 items-center border-teal-600 border rounded-lg my-2 shadow-lg">
    <h3 class="text-white font-semibold text-center">Add users</h3>
    <% User.all.each do |user| %>
      <% next if room.users.include?(user) %>
      <%= button_to add_user_path, params: {user_id: user, room_id: room}, id: "add_user_#{user.id}", method: :post, class:'rounded underline text-white my-1 font-semibold text-sm' do %>
        <%= user.email  %>
      <% end %>
    <% end %>
  </div>
</section>
