<%= turbo_stream_from 'room_messages_channel' %>

<%= turbo_frame_tag 'rooms_controller' do %>
  <main class="flex w-full h-screen justify-center bg-[#181D31]">
    <%= render 'sidebar/side_bar' %>

    <section class="w-5/6 flex flex-col gap-5 h-screen px-5">
      <%= render 'rooms/room/details', { room: @room } %>

      <div class="flex flex-col w-full items-center">
        <div class="flex flex-col w-full">
          <h4 class="text-white font-bold text-xl text-center">Chat</h4>
          <p class="text-white font-medium text-center">This is the chat for this room</p>
          <p class="text-white font-medium text-center">You can add more users if you want by clicking on their emails</p>
        </div>

        <div class="flex flex-col w-5/6 items-center justify-center">

          <div class='h-72 w-5/6 bg-white rounded-lg p-2 overflow-y-auto my-5' id="room_messages_div">
            <% @room.messages.order(:created_at).each do |message| %>
              <%= render 'messages/message', message: message %>
            <% end %>
          </div>

          <div class="w-5/6 flex flex-col">
            <%= form_with(model: [@room, Message.new], class: 'flex flex-col w-full') do |f| %>
              <div class="flex w-full">
                <%= f.text_field :name, class: 'w-full rounded shadow text-sm font-semibold border border-gray-100' %>
                <%= f.submit class: 'bg-green-600 text-white font-semibold rounded p-2' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </main>
<% end %>
