<%= turbo_stream_from @messages_channel %>

<%= render @room %>

<div>
  <%= link_to "Edit this room", edit_room_path(@room) %> |
  <%= link_to "Back to rooms", rooms_path %>

  <%= button_to "Destroy this room", @room, method: :delete %>
</div>

<hr>
<h4>Messages</h4>

<%= turbo_frame_tag "room_messages_#{@room.id}" do %>
  <% @room.messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>
<% end %>


<hr>
<h5>Create Message</h5>
<%= form_with(model: [@room, Message.new]) do |f| %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
